<div class="container-sidebar">

    <div class="group-menu">
        <div class="container-icon-menu">
             <div class="box-menu box-menu-text" (click)="selectMenu(1)"
             [ngClass]="{'box-menu-select': this.menuService.selectMenu == 1, '': this.menuService.selectMenu != 1}" >
                DashBoard
             </div>   
        </div>
    </div>

    <div class="group-menu">
        <div class="container-icon-menu">
             <div class="box-menu box-menu-text" (click)="selectMenu(2)"
             [ngClass]="{'box-menu-select': this.menuService.selectMenu == 2, '': this.menuService.selectMenu != 2}" >
                System
             </div>   
        </div>
    </div>

    <div class="group-menu">
        <div class="container-icon-menu">
             <div class="box-menu box-menu-text" (click)="selectMenu(3)"
             [ngClass]="{'box-menu-select': this.menuService.selectMenu == 3, '': this.menuService.selectMenu != 3}" >
                Category
             </div>   
        </div>
    </div>

    <div class="group-menu">
        <div class="container-icon-menu">
             <div class="box-menu box-menu-text" (click)="selectMenu(4)"
             [ngClass]="{'box-menu-select': this.menuService.selectMenu == 4, '': this.menuService.selectMenu != 4}" >
                Expense
             </div>   
        </div>
    </div>

</div>