<navbar></navbar>
<sidebar></sidebar>

<div class="container-base">

    <div class="content-page">
        <div class="card-header">
            <div class="card-title">
                Systems Register
            </div>
        </div>

        <div class="form-page">

            <div class="row">
                <div class="group-row">
                    <label>System</label>
                    <input type="text"/>
                </div>

            </div>

        </div>

    </div>

</div>
