<div class="container-login">

    <div class="container-login-central">

        <div class="container-header">
            <div class="title-login">
                Money
            </div>

            <div class="info-login">
                Digite seu email para entrar!
            </div>
        </div>

        <div class="container-form">
            <form class="form-input" [formGroup]="loginForm" (submit)="loginUser()">
                <div class="group-input">
                    <div class="text-info">
                        Email                       
                    </div>
                    <input class="input-form" type="text" name="email" id="email" placeholder="" formControlName="email" required="">

                    <label *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched"
                    class="error-input">
                        Required field!
                    </label>
                </div>

                <div class="group-input">
                    <div class="text-info">
                        Password                       
                    </div>
                    <input class="input-form" type="password" name="password" id="password" placeholder="" formControlName="password" required>

                    <label *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
                    class="error-input">
                        Required field!
                    </label>
                </div>

                <div class="group-input">
                   <input type="submit" class="btn-login" value="Login" [ngClass] = "{'disabled' : !loginForm.valid}" [disabled]="!loginForm.valid">
                </div>
            </form>

        </div>


    </div>


</div>
